.movieRow {
  margin-bottom: 30px;
}
.movieRow h2 {
  margin: 0px 0px 0px 30px;
}
.movieRow--listArea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieRow--list {
  width: 999999px;
}
.movieRow--item {
  display: inline-block;
  width: 140px;
  cursor: pointer;
}
.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}
.movieRow--item img:hover {
  width: 100%;
  transform: scale(1);
}
